html, body {
	height: 100%;
}

body {
	display: flex;
    align-items: center;
    background-color: #f5f5f5;
}

form {
	width: 30%;
	margin: auto;
	display: block;
	
}

#aa a:link {
	color:#000000;
	}